:local(.container) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EBECEE;


    :local(.navBar) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px 10px;
        background-color: #FDFDFD;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

        ul {
            list-style-type: none;
            color: #43505D;
            font-size: 170%;
            font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        span{
            padding-right: 100px;
        }

        input{
            margin-right: 300px;
            margin-bottom: 7px;
            height: 25px;
            width: 160px;
            padding-left: 40px;
            background-color: #F2F2F2;
            border-color: #FEFEFE;
            border-radius: 4px;
            border: 0.5px, solid;
            border-style: groove;
        }

        i{
            padding-left: 350px;
        }
    }
}