:local(.container) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EBECEE;

    :local(.navBar) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 10px 10px;
        background-color: #FDFDFD;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

        ul {
            list-style-type: none;
            color: #43505D;
            font-size: 170%;
            font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        input{
            margin-bottom: 7px;
            height: 25px;
            width: 160px;
            padding-left: 40px;
            background-color: #F2F2F2;
            border-color: #FEFEFE;
            border-radius: 4px;
            border: 0.5px, solid;
            border-style: groove;
        }

        i{
            padding-right: 10px;
            color: gray;
        }
    }
    :local(.mainBox) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        :local(.leftBox){
            width: 270px;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #FDFDFD;
                border-radius: 2px;
            }

            li {
                a {
                    height: 29px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: #43505D;
                    text-align: center;
                    padding: 5px 0px 5px 0px;
                    text-decoration: none;
                    &:hover {
                        background-color: #F2F2F2;
                    }
                }
            }
            i{
                padding-left: 10px;
            }
            span{
                padding-left: 8px;
            }
        }
    }
}