:local(.container) {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;

  :local(.loader) {
    position: absolute;
  }

  :local(.box) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background: white;
    border-radius: 3px;
    border: 1px solid #CCC;

    h1 {
      font-size: 18px;
      font-weight: bold;
      color: #555;
      text-align: center;
      text-shadow: 0 1px white;
    }

    :local(.form_item) {
      margin: 20px 0 0;
      margin-left: 6px;
    }

    :local(.form_submit) {
      display: flex;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 30px;
      justify-content: space-around;

      a{
        &:link {
          text-decoration: none;
        }
        &:hover {
          opacity: 0.8;
        }
        &:visited {
          color: black;
        }
        &:active {
          color: black;
        }
      }

      button {
        cursor: pointer;
      }

      button:hover {
        opacity: 0.8;
      }

      button:disabled {
        background-color: #CCC;
        color: #666;
        cursor: default;
      }
    }

    :local(.form_item:first-child) { margin-top: 0; }

    :-moz-placeholder {
      color: #c9c9c9 !important;
      font-size: 13px;
    }

    ::-webkit-input-placeholder {
      color: #ccc;
      font-size: 13px;
    }

    //InputText
    p { 
      color: red; 
      font-size: 14px; 
    } 

    input[type=text], input[type=password] {
      margin: 5px;
      padding: 0 10px;
      width: 260px;
      height: 34px;
      color: #404040;
      background: white;
      border: 1px solid;
      border-color: #c4c4c4 #d1d1d1 #d4d4d4;
      border-radius: 2px;
      outline: 5px solid #eff4f7;

      &:focus {
        border-color: #7dc9e2;
        outline-color: #dceefc;
        outline-offset: 0; // WebKit sets this to -1 by default
      }
    }
  }
}