input[type=text], input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 260px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;

    &:focus {
      border-color: #7dc9e2;
      outline-color: #dceefc;
      outline-offset: 0; // WebKit sets this to -1 by default
    }
}